<div class="summary">
  <div class="row">
    <div class="col-md-3">
      <p>Total Cards in the queue: <span class="badge"><%= @total_jobs %></span></p>
    </div>
    <div class="col-md-3">
      <p>Total per shipping method:</p>
      <p>Fedex Overnight: <span class="badge"><%= @jobs_per_shipping[1] %></span></p>
      <p>UPS Overnight: <span class="badge"><%= @jobs_per_shipping[2] %></span></p>
    </div>
    <div class="col-md-3 summary-list">
      <p>Companies (<%= @companies.count %>):</p>
      <ul>
      <% @companies.each do |company| %>
        <li><%= company %></li>
      <% end %>
      </ul>
    </div>
    <div class="col-md-3 summary-list">
      <p>(Last) Card per Workstation:</p>
      <ul>
      <% Printer.card_printers.includes(:workstation).where("workstations.status_cd" => 1).each do |printer| %>
        <li><%= printer.workstation.name %>: <span class='badge'><%= printer.last_card_type_name %></span></li>
      <% end %>
      </ul>
    </div>
  </div>
</div>
