<%= form_for @print_job, url: {action: "submit"}, method: :post do |f| %>
  <div class="panel">
    <h3>Print Job details</h3>
    <div class="panel-contents">
      <div class="attributes_table" id="attributes_table_print_job">
        <table border="0" cellspacing="0" cellpadding="0">
          <tbody><tr class="row">
            <th>Organization</th>
            <td><%= @print_job.organization.name %></td>
          </tr>
          <tr class="row">
            <th>Card Template</th>
            <td><%= @print_job.card_template.name %></td>
          </tr>
          <tr class="row">
            <th>Total Cards</th>
            <td><%= @print_job.total_cards %></td>
          </tr>
          <tr class="row">
            <th>Shipping Provider</th>
            <td><%= @print_job.shipping_provider.name %></td>
          </tr>
          <tr class="row">
            <th>Address</th>
            <td><%= @print_job.address %></td>
          </tr>
          <tr class="row">
            <th>Status</th>
            <td><%= @print_job.status %></td>
          </tr>
          <tr class="row">
            <th>Status message</th>
            <td><%= @print_job.status_message %></td>
          </tr>
        </tbody></table>
      </div>
    </div>
  </div>

  <div class="panel">
    <h3>Special Handlings</h3>
    <div class="panel_contents">
      <table border="0" cellspacing="0" cellpadding="0">
        <thead>
          <tr>
            <th class="col col-id">Name</th>
            <th class="col col-id">Description</th>
          </tr>
        </thead>
        <tbody>
          <% @print_job.card_template.extended_special_handlings.each do |esh| %>
          <tr class="odd">
            <td class="col col-sel"><%= esh[:name] %></td>
            <td class="col col-id"><%= esh[:description] %></td>
          </tr>
          <% end %>
        </tbody>
      </table>        
    </div>
  </div>


  <div class="panel">
    <h3>Cards / Users to be reprinted</h3>
    <div class="panel_contents">
      <fieldset class="input">
        <ol>
          <li class="check_boxes input optional" id="print_job_charge_again_input">
            <fieldset class="choices">
              <legeng class="label">
                <label for="print_job_charge_again" class="label">Charge again?</label>
              </legend>
              <%= check_box("reprint", "charge_again", {}, true, false) %>   Select to charge for reprint
            </fieldset>
          </li>
          <li class="check_boxes input optional" id="print_job_print_only_letters_input">
            <fieldset class="choices">
              <legeng class="label">
                <label for="print_job_print_only_letters" class="label">Print only Letters?</label>
              </legend>
              <%= check_box("reprint", "only_letters", {}, true, false) %>   Select to print only the letters
            </fieldset>
          </li>
        </ol>
        <table border="0" cellspacing="0" cellpadding="0">
          <thead>
            <tr>
              <th class="col col-attribute_1" style="width:40px;"><input type="checkbox" id="checkAll"/></th>
              <th class="col col-id">Id</th>
              <th class="col col-attribute_2">Attribute 1</th>
              <th class="col col-attribute_3">Attribute 2</th>
              <th class="col col-attribute_4">Attribute 3</th>
            </tr>
          </thead>
          <tbody>
            <% count = 0 %>
            <% if @print_job.list_users.present? %>
            <% @print_job.list_users.first.user_datum.each do |ua| %>
            <% class_odd_even = count.odd? ? "odd" : "even" %>
            <tr class="<%= class_odd_even %>" id="user_datum_<%= ua.id %>">
              <td class="col col-sel"><%= check_box("reprint", "ids", {:multiple => true}, ua.id, nil) %></td>
              <td class="col col-id"><%= ua.id %></td>
              <td class="col col-attribute_1"><%= ua.data["DATA_1"] %></td>
              <td class="col col-attribute_2"><%= ua.data["DATA_2"] %></td>
              <td class="col col-attribute_3"><%= ua.data["DATA_3"] %></td>
            </tr>
            <% count += 1 %>
            <% end %>
            <% end %>
          </tbody>
        </table>        
        <script>
          $("#checkAll").change(function () {
            $("td input:checkbox").prop('checked', $(this).prop("checked"));
          });
        </script>
      </fieldset>
    </div>
  </div>
  <fieldset class="actions">
    <ol>
      <li><%= f.submit("Schedule for reprint") %></li>
    </ol>
  </fieldset>
<% end %>