<%= form_for :generate_report, url: {action: "generate_report"}, method: :post do |f| %>
  <div class="panel">
    <h3>Report options</h3>
    <div class="panel-contents">
      <fieldset class="input">
        <ol>
          <li class="select input required" id="report_type_id_input">
            <fieldset class="choices">
              <label for="report_type_id" class="label">Report Type</label>
              <%= collection_select(:report, :report_type_id, [[1, 'Tabs 1, 2 & 3']], :first, :last) %>
            </fieldset>
          </li>
          <li class="select input required" id="organization_id_input">
            <fieldset class="choices">
              <label for="organization_id" class="label">Organization</label>
              <%= collection_select(:report, :organization_id, Organization.all, :id, :name, :include_blank => true) %>
            </fieldset>
          </li>
          <li class="select input required" id="from_date_input">
            <fieldset class="choices">
              <label for="from_date" class="label">From date</label>
              <%= text_field(:report, :from_date, :class => 'datepicker', :style => 'width: 150px;') %>
            </fieldset>
          </li>
          <li class="select input required" id="to_date_input">
            <fieldset class="choices">
              <label for="to_date" class="label">To date</label>
              <%= text_field(:report, :to_date, :class => 'datepicker', :style => 'width: 150px;') %>
            </fieldset>
          </li>
          <li class="select input" id="mailing_address">
            <fieldset class="choices">
              <label for="to_date" class="label">Include mailing address</label>
              <%= check_box(:report, :include_mailing_address) %>
            </fieldset>
          </li>
        </ol>
      </fieldset>
    </div>
  </div>
  <fieldset class="actions">
    <ol>
      <li><%= f.submit("Generate Report") %></li>
    </ol>
  </fieldset>
<% end %>
