<h1>Upload Image</h1>
<%= form_for( @card_template) do |f| %>
	<%= f.file_field :images, multiple: true %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<h1>Upload over the API</h1>
<%= form_for(@card_template, url: upload_api_v1_card_template_path(@card_template),  html: {method: "post"}) do |f| %>
	<%= f.text_field :organization_id %>
	<%= f.file_field :images, multiple: true %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>